// ------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------
// 1. Open Sans .......... Text font
// ~~2. PT Sans Narrow ... Headings font~~
// 3. PT Mono .......... Code font
// ------------------------------------------------------------------

// Open Sans

@font-face {
	font-family:Open Sans;
	src:url(../fonts/Open_Sans/OpenSans-Regular.ttf) format('ttf');
	}
@font-face {
	font-weight:bold;
	font-family:Open Sans;
	src:url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('ttf');
	}
@font-face {
	font-style:italic;
	font-family:Open Sans;
	src:url(../fonts/Open_Sans/OpenSans-Italic.ttf) format('ttf');
	}
@font-face {
	font-style:italic;
	font-weight:bold;
	font-family:Open Sans;
	src:url(../fonts/Open_Sans/OpenSans-BoldItalic.ttf) format('ttf');
	}

@font-face {
	font-family:Open Sans Extra;
	src:url(../fonts/Open_Sans/OpenSans-Extra.ttf) format('ttf');
	}

@font-face {
	font-family:Open Sans Extra;
	font-weight:bold;
	src:url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf) format('ttf');
	}

// PT Mono

@font-face {
	font-family:PT Mono;
	src:url(../fonts/pt-mono-regular.woff) format('woff');
	}
