// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	margin-bottom:34px;
	color:$orange;
	font:bold 50px/1 Open Sans Extra, sans-serif;
	}
p {
	margin-bottom:1em;
	font-family: "Open Sans", sans-serif;
	line-height: normal;
	&.note {
		color:lighten($grey, 25%);
		}
	}
