// ------------------------------------------------------------------
// Table
// ------------------------------------------------------------------
// 1. Cells ............ Paddings and alignment
// 2. Lines ............ Row dividing lines
// 3. Stripes. ......... Background for even lines
// ------------------------------------------------------------------

table {

	margin-left:-50px;
	margin-bottom:1em;
	width:calc(100% + 50px + 50px);
	
	td,th {
		font-size: 20px;
	}
	// Cells

	th:first-child,
	td:first-child {
		padding-left:46px;
		}
	th:last-child,
	td:last-child {
		padding-right:46px;
		}
	th {
		text-align:left;
		font-weight:bold;
		}

	// Lines

	tr:not(:last-of-type) {
		> * {
			@include underline($grey-line, 0.055);
			}
		}

	// Stripes

	&.striped {
		tr {
			&:nth-child(even) {
				background:$grey-back;
				}
			> * {
				background-image:none;
				}
			}
		}

	}
